albumentations==1.4.12
augraphy==8.2.6
ipykernel==6.27.1
ipython==8.15.0
ipywidgets==8.1.1
jupyter==1.0.0
matplotlib-inline==0.1.6
seaborn==0.13.2
numpy==1.26.0
pandas==2.1.4
Pillow==9.4.0
timm==0.9.12
nbstripout==0.7.1 # git commit 시 output 삭제
wandb==0.17.5
import_ipynb==0.1.4